exclude: '^theme/|content/images/\w+.gif|/images/\w+.webp'
repos:
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: "just lint"
        language: system
        types: [python]
        # pass_filenames: false
        require_serial: true

  - repo: https://github.com/JoC0de/pre-commit-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.6.2
          - prettier-plugin-tailwindcss@0.7.1
          - "@tailwindcss/typography@0.5.8"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
