{% extends "base.html" %} {% block content %}
<section id="content" class="mx-auto max-w-3xl 2xl:max-w-6xl pt-32 px-3">
  {% block content_title %}
  <h2>All articles</h2>
  {% endblock %}

  <div
    id="post-list"
    class="grid 2xl:grid-cols-3 xl:grid-cols-2 grid-cols-1 gap-3"
  >
    {% for article in articles_page.object_list %}
    <div
      class="w-full bg-primary/5 rounded-3xl hover:rounded-xl hover:bg-primary/[0.12] p-4 relative duration-300 focus:ring focus:ring-on-background"
    >
      <article class="hentry flex flex-col justify-between h-full">
        <header class="mb-auto">
          {%- if article.hero %}
          <img
            class="aspect-video object-cover mt-0"
            src="{{ article.hero }}"
          />
          {%- endif %}
          <h1 class="not-prose entry-title mb-3">
            <a
              href="{{ SITEURL }}/{{ article.url }}"
              rel="bookmark"
              title="Permalink to {{ article.title|striptags }}"
              class="no-underline text-on-background mt-2 after:absolute after:inset-0"
              >{{ article.title }}</a
            >
          </h1>
          {%- if article.subtitle %}
          <div class="text-on-background text-title-large font-body">
            {{ article.subtitle }}
          </div>
          {%- endif %}
        </header>
        <footer class="post-info mt-5 bottom-0">
          <time
            class="published text-label-large"
            datetime="{{ article.date.isoformat() }}"
          >
            {{ article.date|strftime("%b %d %Y") }}
          </time>
          <address class="vcard author">
            {% for author in article.authors -%}
            <a
              class="url fn no-underline not-italic text-on-background text-body-large"
              href="{{ SITEURL }}/{{ author.url }}"
              >{%- if not loop.first %}, {% endif -%}{{ author }}</a
            >
            {%- endfor %}
          </address>
        </footer>
        <!-- /.entry-content -->
      </article>
    </div>
    {% endfor %}
  </div>
  <!-- /#posts-list -->
  {% if articles_page.has_other_pages() %} {% include 'pagination.html' %} {%
  endif %}
</section>
<!-- /#content -->
{% endblock content %}
